@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500&display=swap");

/* Global styles */
body {
  background-color: #6096b4;
  font-family: "Raleway", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee9da;
  box-shadow: 0 10px 11px -10px rgba(0, 0, 0, 0.4);
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.navbarLogo {
  width: 25%;
  max-width: 200px;
  cursor: pointer;
}

.navbarLogo img {
  width: 70%;
  height: auto;
  padding: 10px;
  padding-left: 50px;
}

.navbarText {
  display: flex;
  color: #6096b4;
}

.navbarText p {
  margin-right: 40px;
  font-weight: 400;
  cursor: pointer;
}

.navbarText a {
  display: inline-block;
  position: relative;
}

.navbarText a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #6096b4;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.navbarButtons {
  display: flex;
  margin-right: 30px;
}

.navbarButtons button {
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6096b4;
  color: #eee9da;
  cursor: pointer;
}

/* Home page */
.home {
  position: relative;
  display: flex;
  flex-flow: column;
  color: #eee9da;
  text-align: start;
  padding-top: 70px;
  padding-left: 20px;
  background-image: url('./assets/Background.svg');
  background-size: cover;
  background-position: center -120px;
  background-repeat: no-repeat;
  height: 75vh;
}

.home .text {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 600px; /* Adjust the max-width value as needed */
  background-color: rgb(52, 80, 94, 0.6);
  padding: 30px;
  border-radius: 10px;
}


.gamesContent {
  color: #eee9da;
  padding-top: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Games Page */
.gamesContent h1 {
  font-size: 36px;
  text-align: center;
}

.gameInfo {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

.gameIntro{
  padding-bottom: 10px;
  margin-top: -10px;
  font-size: 16px;
}

.gameInfo > div {
  position: relative;
  background-color: #222;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.gameInfo > div:last-child {
  margin-right: 0;
}

.gameInfo > div:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gameInfo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gameInfo p {
  margin: 0;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: rgb(238, 233, 218);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(96, 150, 180, 0.8);
  z-index: 1;
}
.selectedGame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  color: #6096b4;
  background-color: #eee9da;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
  border-radius: 10px;
}


.selectedGameImage {
  width: 100%;
}

.selectedGameDetails {
  margin-top: 10px;
}

.gameInfo {
  margin-top: 40px;
}

.buttons {
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 20px;
  background-color: #eee9da;
  color: #6096b4;
  cursor: pointer;
}
.shelvesContent{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #eee9da;
  padding-top: 10px;
}
.slider{
  padding-top: 20px;
  max-width: 70%;
}
.sliderImage{
  max-width: 100%;
}
.aboutContent{
  position: relative;
  display: flex;
  flex-flow: column;
  color: #eee9da;
  text-align: start;
  padding-top: 70px;
  padding-left: 20px;
  background-image: url('./assets/Background.svg');
  background-size: cover;
  background-position: center -120px;
  background-repeat: no-repeat;
  height: 75vh;
}
.aboutContent p{
  max-width: 50%;
}
.contactContent{
  position: relative;
  display: flex;
  flex-flow: column;
  color: #eee9da;
  text-align: start;
  padding-top: 70px;
  padding-left: 20px;
  background-image: url('./assets/Background.svg');
  background-size: cover;
  background-position: center -120px;
  background-repeat: no-repeat;
  height: 75vh; /* Adjust the height as needed */
}
.contactContent .text{
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 600px; /* Adjust the max-width value as needed */
  background-color: rgb(52, 80, 94, 0.6);
  padding: 30px;
  border-radius: 10px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6096b4;
  background-color: #eee9da;
  width: fit-content;
  height: 50vh;
  margin: auto;
  margin-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 20px;
}
.loginBox small {
  margin-top: 20px;
}
.input{
  border: none;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  border-radius: 8px;
  border: 0.5px solid;
  border-color: #6096b4;
}
::placeholder{
  color: #6096b4;
  padding-left: 10px;
}
.loginButton{
  color: #eee9da;
  background-color: #6096b4;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border: none;
}
.loginLink{
  cursor: pointer;
  text-decoration: underline;
}
.searchBar{
  background-color: #eee9da;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.selectedGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: calc(100vh - 70px); /* Adjust the value as needed to leave space between container and page limits */
  overflow-y: auto; /* Enable vertical scroll if content exceeds the container height */
  box-shadow: 0 0px 8px 3px rgba(0, 0, 0, 0.4);
}

.selectedGameHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.selectedGameName {
  text-align: center;
  margin-bottom: 10px; /* Add margin bottom to create space below the title */
}

.closingIcon {
  height: 30px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.selectedGameDetails {
  margin-top: -40px; /* Adjust the value as needed to create space between header and content */
}
.selectedGameImage{
  padding-bottom: 20px;
}
